[submodule "backend"]
	path = backend
	url = https://github.com/ahmedelbrmbaly/ShoeShow-backup.git
[submodule "ShoeShow-frontend-user"]
	path = ShoeShow-frontend-user
	url = https://github.com/ahmedelbrmbaly/ShoeShow-frontend-user.git
[submodule "ShoeShow-frontend-admin"]
	path = ShoeShow-frontend-admin
	url = https://github.com/ahmedelbrmbaly/ShoeShow-frontend-admin.git
